@font-face {
  font-family: "Zilla";
  src: url("../../../public/ZillaSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OTFGlusp";
  src: url("../../../public/OTFGlusp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hero_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 80;
  height: 100vh;
}

.hero_container__content {
  overflow: hidden;
}

.hero_name {
  display: block;
  margin-top: 0rem;
  justify-content: center;
  color: var(--hero-name);
}

.hero_name h1 {
  font-family: "OTFGlusp";
  z-index: 80;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 8vw;
  line-height: 0.9;
  margin: 0;
  display: flex;
}

.hero_name img {
  border-radius: 90px;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 5.5vw;
  filter: var(--image-filter);
}

.hero_2,
.hero_4 {
  animation: onLoad 0.6s linear;
}

.hero_3 {
  animation: onLoad2 0.6s linear;
}

.hero_2,
.hero_3,
.hero_4 {
  margin: 0;
  display: flex;
}

.hero_links {
  display: flex;
}

.image_container {
  position: relative;
  width: 100%;
  align-items: start;
  object-fit: cover;
}

.hero_links li {
  list-style: none;
  margin: 0 2rem;
  display: flex;
  font-size: 20px;
  cursor: pointer;
}

.hero_links a {
  font-family: "Zilla", "IBM Plex Mono", "Inter";
  text-decoration: none;
  color: var(--hero-name);
  position: relative;
  display: flex;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--hero-name);
  transform-origin: bottom right;
  border-radius: 10px;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.arrow {
  display: flex;
  align-items: center;
  margin-right: 0.3rem;
}

@media screen and (max-width: 1638px) {
  .hero_name h1 {
    font-size: 7.9vw;
  }
}

@media screen and (max-width: 800px) {
  .hero_2,
  .hero_3,
  .hero_4,
  .hero_links {
    align-items: baseline;
  }
}

@keyframes onLoad {
  from {
    transform: translateX(-800px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes onLoad2 {
  from {
    transform: translateX(800px);
  }

  to {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 675px) {
  .hero_name h1 {
    font-size: 7.8vw;
  }
}
