@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OTFGlusp";
  src: url("../public/OTFGlusp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("../public/Outfit-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Zilla";
  src: url("../public/ZillaSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MigraBold";
  src: url("../public/Migra-Extrabold.otf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

:root,
html[data-theme="light"] {
  --hero-name: #141414;
  /* --page-bg: #ffffff; */
  --page-bg: #fffce1;
  --border-colour: #a09e8e;
  --nav-numbers: #f42144;
  --section-bg: black;
  --contact-text: #141414;
  --about-text: black;
  --about-title: #45193b;
  --port-text: black;
  --hero-intro: #2f1664;
  --line: solid #2f1664;
  --image-filter: grayscale(0%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html[data-theme="dark"] {
  --hero-name: #fffce1;
  --border-colour: #42433e;
  --page-bg: #0e100f;
  --nav-numbers: #818cf8;
  --section-bg: white;
  --contact-text: rgb(213, 213, 213);
  --about-text: #f7f7f7;
  --about-title: #f7f7f7f0;
  --port-text: rgb(213, 213, 213);
  --hero-intro: #818cf8;
  --line: solid #c7d2fe;
  --image-filter: grayscale(60%);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--page-bg);
}
